.buying{
width: 100%;
background-color: #0d1820;
color:#fff;
display: flex;
}
.left{
 width: 100%;
    padding: 10px 20px;
}
.right{
width: 100%;
}
h4{
font-size: 36px;
}
p{
 font-size: 18px;   
}
ul{
padding: 10px 20px;
list-style: square;
}